<h1>Log in page</h1>
<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :name, "ユーザーネーム" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit "ログイン", class: "btn btn-primary" %>
<% end %>

<p>登録が済んでいない方はこちら <%= link_to "サインアップ！", signup_path %></p>
