<h1><%= @product.name %></h1>
<p>商品詳細</p>

<div>
  <ol>
    <li>現在値 : <%= @product.current_bid %> 円</li>
    <li>取引期限 : <%= @product.time_left %></li>
    <li>備考欄 : <%= @product.discription %></li>
  </ol>
  <% if product_myself? %>
  <% else %>
    <%= form_for (@bid) do |f| %>

      <%= f.hidden_field :product_id %>

      <%= f.label :current_bid, "入札額" %>
      <%= f.text_field :current_bid, class: 'form-control' %>

      <%= f.submit "入札する！", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
